body {
  background-image:url("https://previews.123rf.com/images/stephaniezieber/stephaniezieber1405/stephaniezieber140500050/28924776-abstract-light-blue-background.jpg");
  background-repeat: no-repeat;
  background-size:Cover;
  background-position:center;
}

footer {
  background-color: lightblue;
  color: inherit;
}
