body {
  background-image:url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4YquSvyaxilrqb0ah/white-frost-on-dark-blue-background-seamless-loop_bqyvbvxr_thumbnail-full01.png");
  background-repeat: no-repeat;
  background-size:Cover;
  background-position:center;
}

footer {
  background-color: lightblue;
  color: inherit;
}
